body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    max-height: 100%;
    overflow-x : hidden;

    font-family: "Roboto", "HelveticaNeue-Light";
    font-weight: 300;

    color: white;
    background-color: black;

}
#textInput {
    height : calc(100vh - 50px);
}
canvas[id^=ms-rendering-canvas] {
    background: none;
}

#mid-ctr {
    margin-top: 20px;
}

#time-frame {
    margin: 0px;
    padding: 0px;
    padding-top: 20px;

    display: inline-block;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;

    font-size: 1.5em;
}

#stop-input-ctr {
    z-index: 101;
    padding-left: 40px;
}
#mouseover-btn {
    display: none;
    z-index: 101;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#bus-stop-input {
    display: none;
    z-index: 101;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#stop-input-ctr:hover #mouseover-btn, #stop-input-ctr.hover #mouseover-btn {
    display: block;
}

#bus-ctr {
    padding-left: 20px;
    
    position:relative;
    display: inline-block;

    z-index: 101;
}
#bus-title {
    font-size: 1.2em;
}
.prd-name {
    padding-right: 5px;
}
.prd-ctr {
    width: auto;
}

#hrmin-part {
    font-size: 3.2em;
    letter-spacing: -2px;
}

#sec-part {
    display: inline-block;
    font-size: .5em;
    padding-left: 3px;
}

#day-part {
    font-size: 1.5em;
}

#date-part {
    /*font-size: .9em;*/
}

#cal-events {
    float: right;
    padding-right: 20px;
}

#settings {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 80px;
    height: 80px;
    z-index: 101;
}

#btn-ctr {
    display: none;
}

#settings:hover #btn-ctr {
    display: block;
}

#content {
    z-index: 100;
}

.overlay {
    width:100%;
    height:100%;
    display:none;
    position:absolute;
    top:0px;
    left:0px;
}
#bus-ctr:hover .overlay, #bus-ctr .hover.overlay {
    display:block;
    background-color:black;
    opacity:0.8;
}

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


#weather-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#weather {
    list-style: none;
    width: 100%;
    padding: 0;
}
.weather-high {
    font-size: 1.2em;
}
.weather-low {
    font-size: 1em;
}
.weather-prediction {
    list-style: none;
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
    padding: 0px;
}
.weather-prediction-ctr {
    display: inline-block;
    width: 50%;
}

/* weather icons*/
i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}
.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }